* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.content {
  margin: 50px auto;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}

.logo {
  font-size: 24px;

  &-color {
    color: #0089f7;
    font-weight: bold;
  }
}